title { color: rgb(0, 0, 0); }
head { background-color: rgb(255, 0, 0); }
body { background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
body{ color: white; font-family: Arial, sans-serif; }
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

