title { color: rgb(0, 0, 0); }
head { background-color: rgb(255, 0, 0); }
body { background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
body{ color: white; font-family: calibri, sans-serif; font-size: 30px; text-align: left;}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.lead {
    font-size: 1.25em;
    font-weight: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gp-roadmap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 50px;   /* row-gap column-gap */
    width: 90%;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
}

.gp-card img {
    width: 350px;
    transition: 0.35s;
    border-radius: 30px;
}

.gp-card img:hover {
    transform: scale(1.05);
}

.p.gp{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.team_logo{
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.team-logos img:hover{
    transform: scale(1.25);

}

.team-logos {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px 20px;   /* row-gap column-gap */
    width: 90%;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
}

.team-card {
    text-align: center;
    margin-bottom: 20px;
    font-size:small;
    font-style:bold;
}

.audi{
    grid-column:3;
    grid-row:3;
}