@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');


.container{
    width:85%;
    max-width:1300px;
    margin:auto;
}
title { color: rgb(0, 0, 0); }
head { background-color: rgb(255, 0, 0); }
h1{
    font-size:55px;
    color:#ff1801;
    text-align:center;
    letter-spacing:2px;
}
h1,h2,h3{
    font-family:'Orbitron',sans-serif;
}
h2{
    font-size:36px;
    color:white;
    border-left:6px solid #ff1801;
    padding-left: 15px;
    margin-top:60px;
}

h3{
    color:#ff3b3b;
    font-size:28px;
}

p{
    color:#dddddd;
    font-size:18px;
    text-align:justify;
}

.card{
    background:rgba(20,20,20,.75);
    backdrop-filter:blur(8px);
    padding:30px;
    border-radius:20px;
    margin:30px;
    border-left:5px solid #ff1801;
    transition:35s;
}
nav{
    position: sticky;
    top: 0;
    background: rgba(10,10,10,0.9);
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover{
    color: #FF1801;
}
.card:hover{
    transform:translateY(-8px);
    box-shadow:
    0 15px 15px rgba(255,24,1,.35);
}
body { background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(87, 17, 17, 0.6)
        ),
        url("background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family:'Poppins',sans-serif;
    font-size: 18px;
    line-height:1.8;
    margin: 0.4em;;
    padding:0;
}

.info_para{
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.lead {
    font-size: 1.25em;
    font-weight: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gp-roadmap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 50px;   /* row-gap column-gap */
    width: 90%;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
}

.gp-card img {
    width: 350px;
    transition: 0.35s;
    border-radius: 30px;
}

gp-card:grid{
    display:grid;
    grid-template-columns:repeat(1200px,maxmin)
}

.gp-card img:hover {
    transform: scale(1.05);
}

.p.gp{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.team_logo{
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.team-logos img:hover{
    transform: scale(1.25);

}

.team-logos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 5px;
    width: 90%;
    max-width: 1000px;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
    background:rgba(20,20,20,.75);
    backdrop-filter:blur(8px);
    padding:50px;
    border-radius:20px;
    margin:30px;
    border-left:5px solid #ff1500;
    transition:35s;
}

.team-card {
    text-align: center;
    margin-bottom: 20px;
    font-size:small;
    font-style:bold;
}

.audi{
    grid-column:3;
    grid-row:3;
}

.button{
    display:inline-block;
    padding:12px 24px;
    background:#ff1801;
    color:white;
    border-radius:8px;
    text-decoration:none;
    transition:0.3s;
}

.button:hover{
    background:white;
    color:#ff1801;
    transform:scale(1.05);
}

.hero{
    height: 100vh;          /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    font-size: 70px;
    color: #FF1801;
    margin-bottom: 20px;
}

.hero p{
    font-size: 22px;
    max-width: 700px;
    color: white;
}